<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - Falcon Reporting</title>
    {% else %}
    <title>Falcon Reporting</title>
    {% endif %}
  </head>
  <body>
    <div>Falcon Reporting: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}    <!--This is perfect for redirecting after an insert -->
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>